.navbar {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensures navbar stays above other content */
  background-color: #fff; /* Give it a background color so content doesn't show through */
  /* Your other navbar styles */
  margin : 0 auto;
}

.navbar-links{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 23px; 
}

.main-button{
  border-radius: 100px;
border: 1px solid #1C2323;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%;
/* background: #92FFBF; */
/* Drop Shadow */
box-shadow: 4px 4px 0px 0px #1C2323;
}

.hero-main-text{
  /* font-size: 64px; */
  font-weight: 700;
}

.hero-sub-text{
  color: #1C2323;
  font-family: "Instrument Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}

.available-btn{

  display: flex;
  padding: 8px 12px;
  align-items: center;
border-radius: 100px;
background: #FFF;
}

