@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root{
  --color-primary: #4a90e2;
  --color-secondary: #50e3c2;
  --color-accent: #9013fe;
  --color-graydark : #1C2323;
  --color-background: #E8EFF7;
  --color-text: #333333;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
}